n8n-workflows/image-to-anki-download.json
{
  "id": "image-to-anki-download",
  "name": "Image to Anki Download (APKG)",
  "nodes": [
    {
      "id": "download-webhook",
      "name": "Download Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "anki-download",
      "parameters": {
        "path": "anki-download",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "read-apkg-file",
      "name": "Read APKG File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [300, 300],
      "parameters": {
        "fileSelector": "=/tmp/anki-decks/{{ $json.query.id }}.apkg"
      }
    },
    {
      "id": "check-file-exists",
      "name": "Check File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-binary",
              "leftValue": "={{ Object.keys($binary).length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "not-found-response",
      "name": "Not Found Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Deck not found or expired', deckId: $('Download Webhook').first().json.query.id }) }}",
        "options": { "responseCode": 404 }
      }
    },
    {
      "id": "send-file",
      "name": "Send File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300],
      "parameters": {
        "respondWith": "binary",
        "responseBinaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"vocabulary-deck.apkg\""
              },
              {
                "name": "Content-Type",
                "value": "application/octet-stream"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Download Webhook": {
      "main": [[{ "node": "Read APKG File", "type": "main", "index": 0 }]]
    },
    "Read APKG File": {
      "main": [[{ "node": "Check File Exists", "type": "main", "index": 0 }]]
    },
    "Check File Exists": {
      "main": [
        [{ "node": "Send File", "type": "main", "index": 0 }],
        [{ "node": "Not Found Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
