n8n-workflows/image-to-anki-ui.json
{
  "id": "image-to-anki-ui",
  "name": "Image to Anki UI (APKG)",
  "nodes": [
    {
      "id": "ui-webhook",
      "name": "UI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "image-to-anki-ui",
      "parameters": {
        "path": "image-to-anki-ui",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "serve-html",
      "name": "Serve HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        300
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    },
    {
      "id": "build-html",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "jsCode": "const html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Image to Anki Deck</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 20px;\n    }\n    .container {\n      background: white;\n      border-radius: 16px;\n      padding: 40px;\n      max-width: 500px;\n      width: 100%;\n      box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n    }\n    h1 { color: #333; margin-bottom: 10px; font-size: 24px; }\n    .subtitle { color: #666; margin-bottom: 30px; font-size: 14px; }\n    .form-group { margin-bottom: 20px; }\n    .form-group label { display: block; margin-bottom: 8px; color: #333; font-weight: 600; font-size: 14px; }\n    .form-group input[type=\"text\"] {\n      width: 100%;\n      padding: 12px;\n      border: 2px solid #e0e0e0;\n      border-radius: 8px;\n      font-size: 14px;\n      transition: border-color 0.3s ease;\n    }\n    .form-group input[type=\"text\"]:focus {\n      outline: none;\n      border-color: #667eea;\n    }\n    .form-group small { color: #999; font-size: 12px; margin-top: 5px; display: block; }\n    .checkbox-group { display: flex; align-items: center; margin-bottom: 20px; }\n    .checkbox-label { display: flex; align-items: center; cursor: pointer; color: #333; font-size: 14px; }\n    .checkbox-label input[type=\"checkbox\"] { width: 18px; height: 18px; margin-right: 10px; cursor: pointer; accent-color: #667eea; }\n    .checkbox-label .checkbox-text { font-weight: 500; }\n    .drop-zone {\n      border: 3px dashed #ccc;\n      border-radius: 12px;\n      padding: 60px 20px;\n      text-align: center;\n      cursor: pointer;\n      transition: all 0.3s ease;\n      background: #fafafa;\n    }\n    .drop-zone:hover, .drop-zone.dragover { border-color: #667eea; background: #f0f0ff; }\n    .drop-zone.has-file { border-color: #4CAF50; background: #f0fff0; }\n    .drop-zone svg { width: 48px; height: 48px; margin-bottom: 15px; fill: #999; }\n    .drop-zone.has-file svg { fill: #4CAF50; }\n    .drop-zone p { color: #666; margin-bottom: 10px; }\n    .drop-zone small { color: #999; }\n    .file-input { display: none; }\n    .preview { margin-top: 20px; text-align: center; }\n    .preview img { max-width: 100%; max-height: 200px; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); }\n    .preview .filename { margin-top: 10px; color: #666; font-size: 14px; }\n    .btn {\n      width: 100%; padding: 16px; border: none; border-radius: 8px;\n      font-size: 16px; font-weight: 600; cursor: pointer; margin-top: 20px; transition: all 0.3s ease;\n    }\n    .btn-primary { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; }\n    .btn-primary:hover:not(:disabled) { transform: translateY(-2px); box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4); }\n    .btn:disabled { opacity: 0.5; cursor: not-allowed; }\n    .progress { margin-top: 20px; display: none; }\n    .progress.active { display: block; }\n    .progress-bar { height: 8px; background: #eee; border-radius: 4px; overflow: hidden; }\n    .progress-fill { height: 100%; background: linear-gradient(90deg, #667eea, #764ba2); width: 0%; transition: width 0.3s ease; }\n    .progress-text { margin-top: 10px; color: #666; font-size: 14px; text-align: center; }\n    .result { margin-top: 20px; padding: 20px; border-radius: 8px; display: none; }\n    .result.success { display: block; background: #e8f5e9; border: 1px solid #4CAF50; }\n    .result.error { display: block; background: #ffebee; border: 1px solid #f44336; }\n    .result h3 { margin-bottom: 10px; font-size: 16px; }\n    .result.success h3 { color: #2e7d32; }\n    .result.error h3 { color: #c62828; }\n    .result p { font-size: 14px; color: #666; }\n    .result .words { margin-top: 10px; font-size: 13px; color: #888; }\n    .btn-download { background: #4CAF50; color: white; margin-top: 15px; }\n    .btn-download:hover { background: #43a047; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Image to Anki Deck</h1>\n    <p class=\"subtitle\">Upload a vocabulary infographic to generate flashcards</p>\n    <div class=\"form-group\">\n      <label for=\"deckName\">Deck Name</label>\n      <input type=\"text\" id=\"deckName\" placeholder=\"e.g., Living Room Furniture\" value=\"Vocabulary\">\n      <small>The name for your Anki deck (you can change this later in Anki)</small>\n    </div>\n    <div class=\"checkbox-group\">\n      <label class=\"checkbox-label\" title=\"Uses OpenAI to speak each word aloud\">\n        <input type=\"checkbox\" id=\"includeAudio\" checked>\n        <span class=\"checkbox-text\">Add audio</span>\n      </label>\n    </div>\n    <div class=\"drop-zone\" id=\"dropZone\">\n      <svg viewBox=\"0 0 24 24\"><path d=\"M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z\"/></svg>\n      <p>Drop image here or click to upload</p>\n      <small>PNG, JPG, or WEBP</small>\n    </div>\n    <input type=\"file\" id=\"fileInput\" class=\"file-input\" accept=\"image/*\">\n    <div class=\"preview\" id=\"preview\" style=\"display:none\">\n      <img id=\"previewImg\" alt=\"Preview\">\n      <p class=\"filename\" id=\"filename\"></p>\n    </div>\n    <button class=\"btn btn-primary\" id=\"submitBtn\" disabled>Generate Anki Deck</button>\n    <div class=\"progress\" id=\"progress\">\n      <div class=\"progress-bar\"><div class=\"progress-fill\" id=\"progressFill\"></div></div>\n      <p class=\"progress-text\" id=\"progressText\">Starting...</p>\n    </div>\n    <div class=\"result\" id=\"result\"></div>\n  </div>\n  <script>\n    const dropZone = document.getElementById('dropZone');\n    const fileInput = document.getElementById('fileInput');\n    const deckNameInput = document.getElementById('deckName');\n    const includeAudioInput = document.getElementById('includeAudio');\n    const preview = document.getElementById('preview');\n    const previewImg = document.getElementById('previewImg');\n    const filename = document.getElementById('filename');\n    const submitBtn = document.getElementById('submitBtn');\n    const progress = document.getElementById('progress');\n    const progressFill = document.getElementById('progressFill');\n    const progressText = document.getElementById('progressText');\n    const result = document.getElementById('result');\n    let imageData = null;\n    let pollInterval = null;\n\n    dropZone.addEventListener('click', () => fileInput.click());\n    dropZone.addEventListener('dragover', (e) => { e.preventDefault(); dropZone.classList.add('dragover'); });\n    dropZone.addEventListener('dragleave', () => dropZone.classList.remove('dragover'));\n    dropZone.addEventListener('drop', (e) => {\n      e.preventDefault();\n      dropZone.classList.remove('dragover');\n      if (e.dataTransfer.files.length > 0) handleFile(e.dataTransfer.files[0]);\n    });\n    fileInput.addEventListener('change', (e) => {\n      if (e.target.files.length > 0) handleFile(e.target.files[0]);\n    });\n\n    function handleFile(file) {\n      if (!file.type.startsWith('image/')) { alert('Please select an image file'); return; }\n      filename.textContent = file.name + ' (' + (file.size / 1024).toFixed(1) + ' KB)';\n      const reader = new FileReader();\n      reader.onload = (e) => {\n        imageData = e.target.result;\n        previewImg.src = imageData;\n        preview.style.display = 'block';\n        dropZone.classList.add('has-file');\n        submitBtn.disabled = false;\n        result.className = 'result';\n        result.style.display = 'none';\n      };\n      reader.readAsDataURL(file);\n    }\n\n    async function pollStatus(statusUrl) {\n      try {\n        const res = await fetch(statusUrl);\n        const data = await res.json();\n        if (!data.success && data.error === 'Job not found') {\n          progressText.textContent = 'Starting job...';\n          return;\n        }\n        if (data.status === 'error') {\n          clearInterval(pollInterval);\n          progress.classList.remove('active');\n          result.className = 'result error';\n          result.style.display = 'block';\n          result.innerHTML = '<h3>Error</h3><p>' + (data.error || data.phase || 'Unknown error') + '</p>';\n          submitBtn.disabled = false;\n          return;\n        }\n        if (data.status === 'complete') {\n          clearInterval(pollInterval);\n          progressFill.style.width = '100%';\n          progressText.textContent = 'Complete!';\n          setTimeout(() => {\n            progress.classList.remove('active');\n            const dlUrl = data.downloadUrl.startsWith('/') ? data.downloadUrl : '/webhook/anki-download?id=' + data.deckId;\n            const audioInfo = data.audioCardCount > 0 ? ', ' + data.audioCardCount + ' with audio' : '';\n            result.className = 'result success';\n            result.style.display = 'block';\n            result.innerHTML = '<h3>Deck Generated Successfully!</h3>' +\n              '<p>' + (data.wordCount || '?') + ' flashcards created (' + (data.imageCardCount || 0) + ' with images' + audioInfo + ')</p>' +\n              (data.words ? '<p class=\"words\">Words: ' + data.words.join(', ') + '</p>' : '') +\n              '<a class=\"btn btn-download\" href=\"' + dlUrl + '\" style=\"display:inline-block;text-decoration:none;text-align:center;\">Download .apkg (' + Math.round((data.apkgSizeBytes||0)/1024) + ' KB)</a>';\n            submitBtn.disabled = false;\n          }, 500);\n          return;\n        }\n        // Update progress\n        progressFill.style.width = (data.progress || 0) + '%';\n        progressText.textContent = data.phase || ('Processing... ' + (data.progress || 0) + '%');\n      } catch (e) {\n        console.error('Poll error:', e);\n      }\n    }\n\n    submitBtn.addEventListener('click', async () => {\n      if (!imageData) return;\n      let deckName = deckNameInput.value\n        .trim()\n        .replace(/[<>:\"/\\\\|?*]/g, '') // Remove filesystem-unsafe chars\n        || 'Vocabulary';\n      const includeAudio = includeAudioInput.checked;\n\n      // Validate length\n      if (deckName.length > 60) {\n        alert('Deck name too long (max 60 characters)');\n        return;\n      }\n\n      submitBtn.disabled = true;\n      progress.classList.add('active');\n      progressFill.style.width = '5%';\n      progressText.textContent = 'Submitting...';\n      result.className = 'result';\n      result.style.display = 'none';\n\n      try {\n        const response = await fetch('/webhook/image-to-anki', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ imageData, deckName, includeAudio })\n        });\n        const data = await response.json();\n\n        if (data.status === 'processing' && data.statusUrl) {\n          progressText.textContent = 'Job accepted, processing...';\n          pollInterval = setInterval(() => pollStatus(data.statusUrl), 2000);\n        } else if (data.success === false) {\n          progress.classList.remove('active');\n          result.className = 'result error';\n          result.style.display = 'block';\n          result.innerHTML = '<h3>Error</h3><p>' + (data.error || 'Unknown error') + '</p>';\n          submitBtn.disabled = false;\n        }\n      } catch (err) {\n        progress.classList.remove('active');\n        result.className = 'result error';\n        result.style.display = 'block';\n        result.innerHTML = '<h3>Error</h3><p>' + err.message + '</p>';\n        submitBtn.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      }
    }
  ],
  "connections": {
    "UI Webhook": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Serve HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}