n8n-workflows/image-to-anki-download.json
{
  "id": "image-to-anki-download",
  "name": "Image to Anki Download (APKG)",
  "nodes": [
    {
      "id": "download-webhook",
      "name": "Download Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "anki-download",
      "parameters": {
        "path": "anki-download",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validate-id",
      "name": "Validate Deck ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate deck ID to prevent directory traversal\nconst deckId = $input.first().json.query.id || '';\n\n// Allow only alphanumeric characters and hyphens (UUID format)\nconst validIdPattern = /^[a-f0-9-]+$/;\n\nif (!deckId) {\n  return [{ json: { isValid: false, error: 'Missing deck ID parameter' } }];\n}\n\nif (!validIdPattern.test(deckId)) {\n  return [{ json: { isValid: false, error: 'Invalid deck ID format. Only alphanumeric characters and hyphens allowed.' } }];\n}\n\n// Ensure reasonable length (UUID is 8 chars after truncation in generate-apkg.py)\nif (deckId.length > 64) {\n  return [{ json: { isValid: false, error: 'Deck ID too long' } }];\n}\n\nreturn [{ json: { isValid: true, deckId: deckId } }];"
      }
    },
    {
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "validation-error-response",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error || 'Invalid request' }) }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "read-apkg-file",
      "name": "Read APKG File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [700, 300],
      "parameters": {
        "fileSelector": "=/tmp/anki-decks/{{ $json.deckId }}.apkg"
      }
    },
    {
      "id": "check-file-exists",
      "name": "Check File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-binary",
              "leftValue": "={{ Object.keys($binary).length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "not-found-response",
      "name": "Not Found Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Deck not found or expired', deckId: $('Validate Deck ID').first().json.deckId }) }}",
        "options": { "responseCode": 404 }
      }
    },
    {
      "id": "send-file",
      "name": "Send File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "parameters": {
        "respondWith": "binary",
        "responseBinaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"vocabulary-deck.apkg\""
              },
              {
                "name": "Content-Type",
                "value": "application/octet-stream"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Download Webhook": {
      "main": [[{ "node": "Validate Deck ID", "type": "main", "index": 0 }]]
    },
    "Validate Deck ID": {
      "main": [[{ "node": "Check Validation", "type": "main", "index": 0 }]]
    },
    "Check Validation": {
      "main": [
        [{ "node": "Read APKG File", "type": "main", "index": 0 }],
        [{ "node": "Validation Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Read APKG File": {
      "main": [[{ "node": "Check File Exists", "type": "main", "index": 0 }]]
    },
    "Check File Exists": {
      "main": [
        [{ "node": "Send File", "type": "main", "index": 0 }],
        [{ "node": "Not Found Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
