n8n-workflows/image-to-anki-worker.json
{
  "id": "image-to-anki-worker",
  "name": "Image to Anki Worker (Background)",
  "nodes": [
    {
      "id": "worker-webhook",
      "name": "Worker Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "anki-worker",
      "parameters": {
        "path": "anki-worker",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "init-job",
      "name": "Initialize Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst body = $input.first().json.body || {};\nconst jobId = body.jobId;\nconst imageSource = body.imageSource;\nconst deckName = body.deckName || 'Vocabulary';\nconst includeAudio = body.includeAudio !== false;\nconst mode = (body.mode === 'suffix') ? 'suffix' : 'vocabulary';\n\nif (!jobId) {\n  throw new Error('Missing jobId');\n}\n\nconst jobDir = path.join('/var/lib/n8n/jobs', jobId);\nconst statusFile = path.join(jobDir, 'status.json');\n\n// Select vision prompt based on image type\nconst visionPrompt = mode === 'suffix'\n  ? 'Extract ALL vocabulary words from this suffix/word-ending chart image for Anki flashcards.\\n\\n'\n    + 'This image shows words grouped by their ending pattern (e.g., \"-tion: nation, station, motion\").\\n'\n    + 'For each word in the chart, provide:\\n'\n    + '- word: the exact word as written\\n'\n    + '- description: a 2-4 word visual description suitable for illustration\\n'\n    + '  (e.g., for \"nation\": \"country with flag\", for \"motion\": \"person moving\")\\n\\n'\n    + 'Return ONLY a JSON array - no markdown, no suffix groupings, just individual words:\\n'\n    + '[{\"word\": \"nation\", \"description\": \"country with flag\"}, {\"word\": \"station\", \"description\": \"train platform\"}]'\n  : 'Extract ALL vocabulary words from this educational image for Anki flashcards.\\n\\n'\n    + 'For each vocabulary word, provide:\\n'\n    + '- word: the exact vocabulary word as labeled\\n'\n    + '- description: 2-4 words describing it (e.g., \"red round fruit\")\\n\\n'\n    + 'Return ONLY a JSON array - no markdown:\\n'\n    + '[{\"word\": \"apple\", \"description\": \"red round fruit\"}]';\n\n// Update status to processing\nconst status = {\n  status: 'extracting',\n  phase: 'Extracting vocabulary from image...',\n  progress: 0,\n  wordCount: null,\n  currentWord: null,\n  includeAudio,\n  mode,\n  startedAt: new Date().toISOString()\n};\nfs.writeFileSync(statusFile, JSON.stringify(status, null, 2));\n\nreturn [{ json: { jobId, jobDir, statusFile, imageSource, deckName, includeAudio, mode, visionPrompt } }];\n"
      }
    },
    {
      "id": "vision-extract",
      "name": "Extract Vocabulary (Vision)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://rpi5.tail4249a9.ts.net"
            },
            {
              "name": "X-Title",
              "value": "Image-to-Anki"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'google/gemini-2.0-flash-001', max_tokens: 8192, temperature: 0, messages: [{ role: 'user', content: [{ type: 'text', text: $('Initialize Job').first().json.visionPrompt }, { type: 'image_url', image_url: { url: $json.imageSource } }] }] }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "vision-error",
      "name": "Handle Vision Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        500
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst initData = $('Initialize Job').first().json;\nconst errorInfo = $input.first().json;\n\n// Parse OpenRouter/API error into a human-readable message\nfunction parseApiError(errorInfo) {\n  const raw = errorInfo.error?.message || errorInfo.message || '';\n  const statusCode = errorInfo.error?.status || null;\n\n  // Try to extract the inner JSON from pattern: 402 - \"{\\\"error\\\":{\\\"message\\\":\\\"...\\\"}}\"\n  const jsonMatch = raw.match(/^\\d+\\s*-\\s*\"(.+)\"$/s);\n  if (jsonMatch) {\n    try {\n      const inner = JSON.parse(jsonMatch[1]);\n      const msg = inner.error?.message || inner.message || raw;\n      return statusCode ? `HTTP ${statusCode}: ${msg}` : msg;\n    } catch(e) {}\n  }\n\n  // Try direct JSON parse\n  try {\n    const parsed = JSON.parse(raw);\n    return parsed.error?.message || parsed.message || raw;\n  } catch(e) {}\n\n  return raw || 'Unknown API error';\n}\n\nconst errorMsg = parseApiError(errorInfo);\n\nconst status = {\n  status: 'error',\n  phase: 'Vision extraction failed',\n  error: errorMsg,\n  failedAt: new Date().toISOString()\n};\ntry {\n  fs.writeFileSync(initData.statusFile, JSON.stringify(status, null, 2));\n} catch (e) { console.error('Failed to write vision error status:', e.message); }\n\nthrow new Error('Vision extraction failed: ' + errorMsg);"
      }
    },
    {
      "id": "parse-vocabulary",
      "name": "Parse Vocabulary JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst initData = $('Initialize Job').first().json;\nconst response = $input.first().json;\n\nfunction safeWriteStatus(file, data) {\n  try { fs.writeFileSync(file, JSON.stringify(data, null, 2)); }\n  catch (e) { console.error('Status write failed:', e.message); }\n}\n\nlet content = response.choices?.[0]?.message?.content || '';\n\nif (!content) {\n  safeWriteStatus(initData.statusFile, { status: 'error', phase: 'No content from vision API', error: 'Empty response', failedAt: new Date().toISOString() });\n  throw new Error('No content in LLM response');\n}\n\nlet jsonStr = content.trim();\nif (jsonStr.includes('```')) {\n  const jsonMatch = jsonStr.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) jsonStr = jsonMatch[1].trim();\n}\nconst start = jsonStr.indexOf('[');\nconst end = jsonStr.lastIndexOf(']') + 1;\nif (start >= 0 && end > start) jsonStr = jsonStr.substring(start, end);\n\nlet vocabulary;\ntry {\n  vocabulary = JSON.parse(jsonStr);\n} catch (e) {\n  safeWriteStatus(initData.statusFile, { status: 'error', phase: 'Failed to parse vocabulary', error: e.message, failedAt: new Date().toISOString() });\n  throw new Error('Invalid JSON: ' + e.message);\n}\n\nif (!Array.isArray(vocabulary) || vocabulary.length === 0) {\n  safeWriteStatus(initData.statusFile, { status: 'error', phase: 'No vocabulary found', error: 'Empty vocabulary array', failedAt: new Date().toISOString() });\n  throw new Error('No vocabulary found');\n}\n\n// Update status with word count\nsafeWriteStatus(initData.statusFile, {\n  status: 'generating',\n  phase: 'Generating images...',\n  progress: 0,\n  wordCount: vocabulary.length,\n  currentWord: 0,\n  words: vocabulary.map(v => v.word)\n});\n\nreturn vocabulary.map((item, index) => ({\n  json: { ...initData, index, word: item.word, description: item.description, totalItems: vocabulary.length }\n}));\n"
      }
    },
    {
      "id": "loop-items",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "update-progress",
      "name": "Update Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $input.first().json;\nconst initData = $('Initialize Job').first().json;\n\ntry {\n  const status = JSON.parse(fs.readFileSync(item.statusFile, 'utf-8'));\n  status.currentWord = item.index + 1;\n  // If audio enabled: images use 0-50%, audio uses 50-100%\n  // If audio disabled: images use 0-100%\n  const maxProgress = initData.includeAudio ? 50 : 100;\n  status.progress = Math.round(((item.index + 1) / item.totalItems) * maxProgress);\n  status.phase = `Generating image ${item.index + 1}/${item.totalItems}: ${item.word}`;\n  fs.writeFileSync(item.statusFile, JSON.stringify(status, null, 2));\n} catch (e) { console.error('Status update failed:', e.message); }\n\nreturn [{ json: item }];\n"
      }
    },
    {
      "id": "check-image-cache",
      "name": "Check Image Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\nconst fs = require(\"fs\");\nconst path = require(\"path\");\nconst item = $input.first().json;\n\nconst cacheDir = \"/var/lib/n8n/cache\";\nconst cacheKey = crypto.createHash(\"sha256\").update(\"img-v1:\" + item.word + \":\" + item.description).digest(\"hex\");\nconst cacheBin = path.join(cacheDir, cacheKey + \".bin\");\nconst cacheMeta = path.join(cacheDir, cacheKey + \".meta\");\n\nif (fs.existsSync(cacheBin) && fs.existsSync(cacheMeta)) {\n  const meta = JSON.parse(fs.readFileSync(cacheMeta, \"utf-8\"));\n  const bytes = fs.readFileSync(cacheBin);\n  const imgPath = path.join(item.jobDir, \"img_\" + item.index + \".bin\");\n  fs.writeFileSync(imgPath, bytes);\n  const imageHash = crypto.createHash(\"sha256\").update(bytes).digest(\"hex\");\n\n  try {\n    const status = JSON.parse(fs.readFileSync(item.statusFile, \"utf-8\"));\n    status.phase = \"Generating image \" + (item.index + 1) + \"/\" + item.totalItems + \": \" + item.word + \" (cached)\";\n    fs.writeFileSync(item.statusFile, JSON.stringify(status, null, 2));\n  } catch (e) { console.error(\"Status update failed:\", e.message); }\n\n  return [[{ json: { index: item.index, word: item.word, description: item.description, imageFile: imgPath, imageHash, mimeType: meta.mimeType, imageSizeBytes: bytes.length, cacheHit: true } }], []];\n} else {\n  return [[], [{ json: { ...item, cacheHit: false } }]];\n}",
        "numberOfOutputs": 2
      }
    },
    {
      "id": "generate-image",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://rpi5.tail4249a9.ts.net"
            },
            {
              "name": "X-Title",
              "value": "Image-to-Anki"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'google/gemini-2.5-flash-image', modalities: ['text', 'image'], image_config: { aspect_ratio: '1:1' }, max_tokens: 4096, messages: [{ role: 'user', content: 'A single centered illustration of ' + $json.word + ' (' + $json.description + ') on a clean white background. The style is a friendly, colorful pixel-art scene with chunky blocky shapes and bright saturated colors, inspired by Minecraft. The image should be simple and cheerful, suitable for a children\\'s vocabulary flashcard. No text, labels, or words anywhere in the image.' }] }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "handle-image-error",
      "name": "Handle Image Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        500
      ],
      "parameters": {
        "jsCode": "// Continue on error - track failed images but don't stop workflow\nconst prevData = $('Update Progress').first().json;\nconst { word, description, index } = prevData;\nconst errorInfo = $input.first().json;\n\n// Parse OpenRouter/API error into a human-readable message\nfunction parseApiError(errorInfo) {\n  const raw = errorInfo.error?.message || errorInfo.message || '';\n  const statusCode = errorInfo.error?.status || null;\n\n  // Try to extract the inner JSON from pattern: 402 - \"{\\\"error\\\":{\\\"message\\\":\\\"...\\\"}}\"\n  const jsonMatch = raw.match(/^\\d+\\s*-\\s*\"(.+)\"$/s);\n  if (jsonMatch) {\n    try {\n      const inner = JSON.parse(jsonMatch[1]);\n      const msg = inner.error?.message || inner.message || raw;\n      return statusCode ? `HTTP ${statusCode}: ${msg}` : msg;\n    } catch(e) {}\n  }\n\n  // Try direct JSON parse\n  try {\n    const parsed = JSON.parse(raw);\n    return parsed.error?.message || parsed.message || raw;\n  } catch(e) {}\n\n  return raw || 'Unknown API error';\n}\n\nconst errorMsg = parseApiError(errorInfo);\nconsole.error(`Image generation failed for \"${word}\": ${errorMsg}`);\nreturn [{ json: { index, word, description, error: errorMsg, imageFile: null, imageHash: null } }];"
      }
    },
    {
      "id": "extract-image-data",
      "name": "Extract Image Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst fs = require('fs');\nconst path = require('path');\nconst response = $input.first().json;\nconst prevData = $('Update Progress').first().json;\nconst { word, description, index } = prevData;\nconst jobDir = $('Initialize Job').first().json.jobDir;\n\ntry {\n  const message = response.choices?.[0]?.message;\n  let base64Data = null;\n\n  if (message?.images?.[0]) {\n    const img = message.images[0];\n    const url = img.image_url?.url || img.url || img;\n    if (typeof url === 'string' && url.includes('base64,')) {\n      base64Data = url.split('base64,')[1];\n    }\n  }\n\n  if (!base64Data && message?.content) {\n    const m = message.content.match(/data:image\\/([^;]+);base64,([A-Za-z0-9+/=]+)/);\n    if (m) { base64Data = m[2]; }\n  }\n\n  if (!base64Data) throw new Error('No image data in response');\n\n  const bytes = Buffer.from(base64Data, 'base64');\n  \n  // Detect actual image format from magic bytes (don't trust URL MIME type)\n  let mimeType = 'image/png';\n  if (bytes[0] === 0x89 && bytes[1] === 0x50 && bytes[2] === 0x4E && bytes[3] === 0x47) {\n    mimeType = 'image/png';\n  } else if (bytes[0] === 0xFF && bytes[1] === 0xD8) {\n    mimeType = 'image/jpeg';\n  } else if (bytes[0] === 0x47 && bytes[1] === 0x49 && bytes[2] === 0x46) {\n    mimeType = 'image/gif';\n  } else if (bytes[0] === 0x52 && bytes[1] === 0x49 && bytes[2] === 0x46 && bytes[3] === 0x46 && bytes.length > 11 && bytes[8] === 0x57 && bytes[9] === 0x45 && bytes[10] === 0x42 && bytes[11] === 0x50) {\n    mimeType = 'image/webp';\n  } else {\n    const magicHex = bytes.slice(0, 8).toString('hex');\n    console.error(`Unknown image format for \"${word}\": magic bytes ${magicHex}, defaulting to PNG`);\n  }\n  \n  const hash = crypto.createHash('sha256').update(bytes).digest('hex');\n\n  // Write raw bytes to disk to avoid keeping base64 in memory\n  const imgPath = path.join(jobDir, `img_${index}.bin`);\n  fs.writeFileSync(imgPath, bytes);\n\n  // Write to cache\n  try {\n    const cacheDir = \"/var/lib/n8n/cache\";\n    const cacheKey = crypto.createHash(\"sha256\").update(\"img-v1:\" + word + \":\" + description).digest(\"hex\");\n    fs.writeFileSync(path.join(cacheDir, cacheKey + \".bin\"), bytes);\n    fs.writeFileSync(path.join(cacheDir, cacheKey + \".meta\"), JSON.stringify({ word, description, mimeType, createdAt: new Date().toISOString() }));\n  } catch (cacheErr) { console.error(\"Cache write failed:\", cacheErr.message); }\n\n  return [{ json: { index, word, description, imageFile: imgPath, imageHash: hash, mimeType, imageSizeBytes: bytes.length, cacheHit: false } }];\n} catch (e) {\n  // Continue on error - track failed images but don't stop workflow\n  console.error(`Image extraction failed for \"${word}\": ${e.message}`);\n  return [{ json: { index, word, description, error: e.message, imageFile: null, imageHash: null } }];\n}\n"
      }
    },
    {
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1700,
        300
      ],
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      }
    },
    {
      "id": "aggregate-items",
      "name": "Aggregate All Items",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1900,
        100
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "check-audio-flag",
      "name": "Check Audio Flag",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "include-audio",
              "leftValue": "={{ $('Initialize Job').first().json.includeAudio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "tts-precheck",
      "name": "TTS Pre-check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        0
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'tts-1-hd', input: 'hello', voice: 'nova', response_format: 'mp3' }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "handle-tts-precheck-error",
      "name": "Handle TTS Pre-check Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        150
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst initData = $('Initialize Job').first().json;\nconst errorInfo = $input.first().json;\n\n// Parse OpenRouter/API error into a human-readable message\nfunction parseApiError(errorInfo) {\n  const raw = errorInfo.error?.message || errorInfo.message || '';\n  const statusCode = errorInfo.error?.status || null;\n\n  // Try to extract the inner JSON from pattern: 402 - \"{\\\"error\\\":{\\\"message\\\":\\\"...\\\"}}\"\n  const jsonMatch = raw.match(/^\\d+\\s*-\\s*\"(.+)\"$/s);\n  if (jsonMatch) {\n    try {\n      const inner = JSON.parse(jsonMatch[1]);\n      const msg = inner.error?.message || inner.message || raw;\n      return statusCode ? `HTTP ${statusCode}: ${msg}` : msg;\n    } catch(e) {}\n  }\n\n  // Try direct JSON parse\n  try {\n    const parsed = JSON.parse(raw);\n    return parsed.error?.message || parsed.message || raw;\n  } catch(e) {}\n\n  return raw || 'Unknown API error';\n}\n\nconst errorMsg = parseApiError(errorInfo);\n\nconst status = {\n  status: 'error',\n  phase: 'TTS pre-check failed',\n  error: 'TTS pre-check failed: ' + errorMsg,\n  failedAt: new Date().toISOString()\n};\ntry {\n  fs.writeFileSync(initData.statusFile, JSON.stringify(status, null, 2));\n} catch (e) { console.error('Failed to write TTS pre-check error status:', e.message); }\n\nthrow new Error('TTS pre-check failed: ' + errorMsg);"
      }
    },
    {
      "id": "update-audio-status",
      "name": "Update Audio Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        0
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst initData = $('Initialize Job').first().json;\nconst aggregatedData = $('Aggregate All Items').first().json;\nconst items = aggregatedData.data || [];\n\ntry {\n  const status = JSON.parse(fs.readFileSync(initData.statusFile, 'utf-8'));\n  status.phase = 'Generating pronunciation audio...';\n  status.progress = 50;\n  status.audioProgress = 0;\n  status.audioTotal = items.length;\n  fs.writeFileSync(initData.statusFile, JSON.stringify(status, null, 2));\n} catch (e) { console.error('Audio status update failed:', e.message); }\n\n// Spread items for TTS loop\nreturn items.map((item, index) => ({\n  json: { ...item, audioIndex: index, audioTotal: items.length, statusFile: initData.statusFile }\n}));\n"
      }
    },
    {
      "id": "tts-loop",
      "name": "TTS Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2700,
        0
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "update-tts-progress",
      "name": "Update TTS Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        0
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $input.first().json;\n\ntry {\n  const status = JSON.parse(fs.readFileSync(item.statusFile, 'utf-8'));\n  status.audioProgress = item.audioIndex + 1;\n  status.progress = 50 + Math.round(((item.audioIndex + 1) / item.audioTotal) * 50);\n  status.phase = `Generating audio ${item.audioIndex + 1}/${item.audioTotal}: ${item.word}`;\n  fs.writeFileSync(item.statusFile, JSON.stringify(status, null, 2));\n} catch (e) { console.error('TTS progress update failed:', e.message); }\n\nreturn [{ json: item }];\n"
      }
    },
    {
      "id": "generate-tts",
      "name": "Generate TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        0
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'tts-1-hd', input: $json.word, voice: 'nova', response_format: 'mp3' }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "extract-audio-data",
      "name": "Extract Audio Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        0
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst item = $input.first();\nif (!item) throw new Error('Extract Audio Data received no input items');\nconst inputData = item.json || {};\nconst jobDir = $('Initialize Job').first().json.jobDir;\nconst index = inputData.index;\n\n// Extract audio from HTTP response - n8n may use any key name for binary data\nlet audioBase64 = null;\nlet mimeType = 'audio/mpeg';\n\nif (item.binary) {\n  for (const key of Object.keys(item.binary)) {\n    const bin = item.binary[key];\n    if (bin && bin.data) {\n      audioBase64 = bin.data;\n      mimeType = bin.mimeType || 'audio/mpeg';\n      break;\n    }\n  }\n}\n\n// Write audio bytes to disk to avoid keeping base64 in memory\nlet audioFile = null;\nif (audioBase64) {\n  try {\n    const bytes = Buffer.from(audioBase64, 'base64');\n    audioFile = path.join(jobDir, `audio_${index}.bin`);\n    fs.writeFileSync(audioFile, bytes);\n  } catch (e) {\n    console.error(`Failed to write audio file: ${e.message}`);\n    audioFile = null;\n  }\n}\n\n// Write to cache for future reuse\nif (audioFile) {\n  try {\n    const crypto = require('crypto');\n    const cacheDir = '/var/lib/n8n/cache';\n    const cacheKey = crypto.createHash('sha256').update('tts-v1:' + inputData.word).digest('hex');\n    const cacheBin = path.join(cacheDir, cacheKey + '.bin');\n    const cacheMeta = path.join(cacheDir, cacheKey + '.meta');\n    fs.copyFileSync(audioFile, cacheBin);\n    fs.writeFileSync(cacheMeta, JSON.stringify({\n      word: inputData.word,\n      mimeType: mimeType,\n      createdAt: new Date().toISOString()\n    }, null, 2));\n  } catch (e) { console.error('Cache write failed:', e.message); }\n}\n\n// Update status file - non-fatal, audio extraction can still succeed\nif (inputData.statusFile) {\n  try {\n    const status = JSON.parse(fs.readFileSync(inputData.statusFile, 'utf-8'));\n    status.ttsState = audioFile ? 'done' : 'no-data';\n    fs.writeFileSync(inputData.statusFile, JSON.stringify(status, null, 2));\n  } catch (e) { console.error('TTS status update failed:', e.message); }\n}\n\n// Return with audio result - spread preserves context needed by TTS loop\nreturn [{\n  json: {\n    ...inputData,\n    audioFile: audioFile,\n    audioMimeType: audioFile ? mimeType : null,\n    audioError: audioFile ? null : 'No audio data received',\n    cacheHit: false\n  }\n}];\n"
      }
    },
    {
      "id": "handle-tts-error",
      "name": "Handle TTS Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        200
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst errorInfo = $input.first().json;\nconst statusFile = errorInfo.statusFile || $('Initialize Job').first().json.statusFile;\n\n// Parse OpenRouter/API error into a human-readable message\nfunction parseApiError(errorInfo) {\n  const raw = errorInfo.error?.message || errorInfo.message || '';\n  const statusCode = errorInfo.error?.status || null;\n\n  // Try to extract the inner JSON from pattern: 402 - \"{\\\"error\\\":{\\\"message\\\":\\\"...\\\"}}\"\n  const jsonMatch = raw.match(/^\\d+\\s*-\\s*\"(.+)\"$/s);\n  if (jsonMatch) {\n    try {\n      const inner = JSON.parse(jsonMatch[1]);\n      const msg = inner.error?.message || inner.message || raw;\n      return statusCode ? `HTTP ${statusCode}: ${msg}` : msg;\n    } catch(e) {}\n  }\n\n  // Try direct JSON parse\n  try {\n    const parsed = JSON.parse(raw);\n    return parsed.error?.message || parsed.message || raw;\n  } catch(e) {}\n\n  return raw || 'Unknown API error';\n}\n\nconst errorMsg = parseApiError(errorInfo);\n\nconst status = { status: 'error', phase: 'TTS generation failed', error: 'TTS failed: ' + errorMsg, failedAt: new Date().toISOString() };\nif (statusFile) {\n  try {\n    fs.writeFileSync(statusFile, JSON.stringify(status, null, 2));\n  } catch (e) { console.error('Failed to write error status:', e.message); }\n} else {\n  console.error('Cannot record TTS error (no statusFile):', errorMsg);\n}\n\nthrow new Error('TTS failed: ' + errorMsg);"
      }
    },
    {
      "id": "aggregate-audio",
      "name": "Aggregate Audio Items",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3700,
        0
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "no-audio-passthrough",
      "name": "No Audio Passthrough",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        200
      ],
      "parameters": {
        "jsCode": "// Pass through items without audio data\nconst aggregatedData = $input.first().json;\nconst items = aggregatedData.data || [];\n\nconst itemsWithNullAudio = items.map(item => ({\n  ...item,\n  audioFile: null,\n  audioMimeType: null,\n  audioError: null\n}));\n\nreturn [{ json: { data: itemsWithNullAudio } }];\n"
      }
    },
    {
      "id": "prepare-apkg-input",
      "name": "Prepare APKG Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        100
      ],
      "parameters": {
        "jsCode": "const fs = require(\"fs\");\nconst path = require(\"path\");\nconst items = ($input.first().json.data || []);\nconst initData = $(\"Initialize Job\").first().json;\n\nfunction safeWriteStatus(file, data) {\n  try { fs.writeFileSync(file, JSON.stringify(data, null, 2)); }\n  catch (e) { console.error(\"Status write failed:\", e.message); }\n}\n\n// Update status\ntry {\n  const status = JSON.parse(fs.readFileSync(initData.statusFile, \"utf-8\"));\n  status.phase = \"Creating Anki deck...\";\n  status.progress = 95;\n  safeWriteStatus(initData.statusFile, status);\n} catch (e) { console.error(\"Status read failed:\", e.message); }\n\nconst valid = items.filter(i => i.word && (i.imageFile || i.description));\n\nif (valid.length === 0) {\n  safeWriteStatus(initData.statusFile, { status: \"error\", phase: \"No valid cards\", error: \"No valid items to create deck\", failedAt: new Date().toISOString() });\n  throw new Error(\"No valid items\");\n}\n\nconst failedImages = items.filter(i => i.error && !i.imageFile);\nconst failedImageWords = failedImages.map(i => i.word);\nconst audioCardCount = valid.filter(i => i.audioFile).length;\nconst words = valid.map(i => i.word);\n\n// Stream JSON to file one card at a time to avoid holding all base64 in memory\nconst outputFile = \"/tmp/n8n-apkg-input.json\";\nconst fd = fs.openSync(outputFile, \"w\");\nfs.writeSync(fd, JSON.stringify({ deckName: initData.deckName || \"Vocabulary\" }) .replace(/}$/, \",\\\"cards\\\":[\"));\n\nfor (let i = 0; i < valid.length; i++) {\n  const item = valid[i];\n  let imageBase64 = null;\n  if (item.imageFile) {\n    try { imageBase64 = fs.readFileSync(item.imageFile).toString(\"base64\"); }\n    catch (e) { console.error(\"Failed to read image \" + item.imageFile + \": \" + e.message); }\n  }\n  let audioBase64 = null;\n  if (item.audioFile) {\n    try { audioBase64 = fs.readFileSync(item.audioFile).toString(\"base64\"); }\n    catch (e) { console.error(\"Failed to read audio \" + item.audioFile + \": \" + e.message); }\n  }\n  const card = {\n    word: item.word,\n    description: item.description || \"\",\n    imageBase64,\n    mimeType: item.mimeType || \"image/jpeg\",\n    audioBase64,\n    audioMimeType: item.audioMimeType || \"audio/mpeg\"\n  };\n  const cardJson = JSON.stringify(card);\n  fs.writeSync(fd, (i > 0 ? \",\" : \"\") + cardJson);\n  // Free memory after each card\n  imageBase64 = null;\n  audioBase64 = null;\n}\nfs.writeSync(fd, \"]}\");\nfs.closeSync(fd);\n\nreturn [{\n  json: { ...initData, hasError: false, cardCount: valid.length, imageCardCount: valid.filter(i => i.imageFile).length, audioCardCount, words, failedImageCount: failedImages.length, failedImageWords, inputFile: outputFile }\n}];"
      }
    },
    {
      "id": "write-input-file",
      "name": "Write Input File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        4100,
        100
      ],
      "parameters": {
        "fileName": "/tmp/n8n-apkg-input.json",
        "options": {}
      }
    },
    {
      "id": "run-apkg-generator",
      "name": "Run APKG Generator",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4200,
        100
      ],
      "parameters": {
        "command": "cat /tmp/n8n-apkg-input.json | generate-apkg && rm -f /tmp/n8n-apkg-input.json"
      }
    },
    {
      "id": "finalize-job",
      "name": "Finalize Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4300,
        100
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst stdout = $input.first().json.stdout || '';\nconst initData = $('Prepare APKG Input').first().json;\n\nfunction safeWriteStatus(file, data) {\n  try { fs.writeFileSync(file, JSON.stringify(data, null, 2)); }\n  catch (e) { console.error('Status write failed:', e.message); }\n}\n\ntry {\n  const output = JSON.parse(stdout);\n  \n  if (!output.success) {\n    safeWriteStatus(initData.statusFile, { status: 'error', phase: 'APKG generation failed', error: output.error || 'Unknown error', failedAt: new Date().toISOString() });\n    throw new Error(output.error);\n  }\n  \n  // Check if some images failed - show warning\n  const failedCount = initData.failedImageCount || 0;\n  const hasWarning = failedCount > 0;\n  const warningMsg = hasWarning ? `${failedCount} image(s) failed to generate` : null;\n  \n  const status = {\n    status: hasWarning ? 'partial' : 'complete',\n    phase: hasWarning ? `Complete with warnings` : 'Complete!',\n    progress: 100,\n    wordCount: initData.cardCount,\n    imageCardCount: initData.imageCardCount,\n    audioCardCount: initData.audioCardCount || 0,\n    words: initData.words || [],\n    warning: warningMsg,\n    failedImageWords: initData.failedImageWords || [],\n    deckId: output.deckId,\n    downloadUrl: `/webhook/anki-download?id=${output.deckId}`,\n    apkgSizeBytes: output.apkgSizeBytes,\n    completedAt: new Date().toISOString(),\n    deckName: initData.deckName || 'Vocabulary',\n    mode: (initData.mode === 'suffix') ? 'suffix' : 'vocabulary'\n  };\n  safeWriteStatus(initData.statusFile, status);\n  \n  return [{ json: { success: true, ...status } }];\n} catch (e) {\n  if (!e.message.includes('Unknown error')) {\n    safeWriteStatus(initData.statusFile, { status: 'error', phase: 'Parse error', error: e.message, failedAt: new Date().toISOString() });\n  }\n  throw e;\n}\n"
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\nconst fs = require(\"fs\");\nconst path = require(\"path\");\nconst item = $input.first().json;\n\nconst cacheDir = \"/var/lib/n8n/cache\";\nconst cacheKey = crypto.createHash(\"sha256\").update(\"tts-v1:\" + item.word).digest(\"hex\");\nconst cacheBin = path.join(cacheDir, cacheKey + \".bin\");\nconst cacheMeta = path.join(cacheDir, cacheKey + \".meta\");\n\nif (fs.existsSync(cacheBin) && fs.existsSync(cacheMeta)) {\n  const meta = JSON.parse(fs.readFileSync(cacheMeta, \"utf-8\"));\n  const bytes = fs.readFileSync(cacheBin);\n  const jobDir = $(\"Initialize Job\").first().json.jobDir;\n  const audioPath = path.join(jobDir, \"audio_\" + item.audioIndex + \".bin\");\n  fs.writeFileSync(audioPath, bytes);\n\n  try {\n    const status = JSON.parse(fs.readFileSync(item.statusFile, \"utf-8\"));\n    status.phase = \"Generating audio \" + (item.audioIndex + 1) + \"/\" + item.audioTotal + \": \" + item.word + \" (cached)\";\n    fs.writeFileSync(item.statusFile, JSON.stringify(status, null, 2));\n  } catch (e) { console.error(\"Status update failed:\", e.message); }\n\n  return [[{ json: { ...item, audioFile: audioPath, audioMimeType: meta.mimeType, audioBase64: null, cacheHit: true } }], []];\n} else {\n  return [[], [{ json: { ...item, cacheHit: false } }]];\n}",
        "numberOfOutputs": 2
      },
      "id": "check-audio-cache",
      "name": "Check Audio Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        0
      ]
    }
  ],
  "connections": {
    "Worker Webhook": {
      "main": [
        [
          {
            "node": "Initialize Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Job": {
      "main": [
        [
          {
            "node": "Extract Vocabulary (Vision)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Vocabulary (Vision)": {
      "main": [
        [
          {
            "node": "Parse Vocabulary JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Vision Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Vocabulary JSON": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate All Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Progress": {
      "main": [
        [
          {
            "node": "Check Image Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Extract Image Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Image Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Image Error": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Data": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Items": {
      "main": [
        [
          {
            "node": "Check Audio Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Audio Flag": {
      "main": [
        [
          {
            "node": "TTS Pre-check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Audio Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Pre-check": {
      "main": [
        [
          {
            "node": "Update Audio Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle TTS Pre-check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Audio Status": {
      "main": [
        [
          {
            "node": "TTS Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Loop": {
      "main": [
        [
          {
            "node": "Aggregate Audio Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update TTS Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update TTS Progress": {
      "main": [
        [
          {
            "node": "Check Audio Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS": {
      "main": [
        [
          {
            "node": "Extract Audio Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle TTS Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio Data": {
      "main": [
        [
          {
            "node": "TTS Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Audio Items": {
      "main": [
        [
          {
            "node": "Prepare APKG Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Audio Passthrough": {
      "main": [
        [
          {
            "node": "Prepare APKG Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare APKG Input": {
      "main": [
        [
          {
            "node": "Run APKG Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run APKG Generator": {
      "main": [
        [
          {
            "node": "Finalize Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Cache": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Audio Cache": {
      "main": [
        [
          {
            "node": "TTS Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "versionId": "3ce96117-ef79-481b-bf9c-6c6065c0cca5"
}
