n8n-workflows/image-to-anki-ui.json
{
  "id": "image-to-anki-ui",
  "name": "Image to Anki UI (APKG)",
  "nodes": [
    {
      "id": "ui-webhook",
      "name": "UI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "image-to-anki-ui",
      "parameters": {
        "path": "image-to-anki-ui",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "serve-html",
      "name": "Serve HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        300
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    },
    {
      "id": "build-html",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "jsCode": "const html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Image to Anki Deck</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 20px;\n    }\n    .container {\n      background: white;\n      border-radius: 16px;\n      padding: 40px;\n      max-width: 500px;\n      width: 100%;\n      box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n    }\n    h1 {\n      color: #333;\n      margin-bottom: 10px;\n      font-size: 24px;\n    }\n    .subtitle {\n      color: #666;\n      margin-bottom: 30px;\n      font-size: 14px;\n    }\n    .drop-zone {\n      border: 3px dashed #ccc;\n      border-radius: 12px;\n      padding: 60px 20px;\n      text-align: center;\n      cursor: pointer;\n      transition: all 0.3s ease;\n      background: #fafafa;\n    }\n    .drop-zone:hover, .drop-zone.dragover {\n      border-color: #667eea;\n      background: #f0f0ff;\n    }\n    .drop-zone.has-file {\n      border-color: #4CAF50;\n      background: #f0fff0;\n    }\n    .drop-zone svg {\n      width: 48px;\n      height: 48px;\n      margin-bottom: 15px;\n      fill: #999;\n    }\n    .drop-zone.has-file svg { fill: #4CAF50; }\n    .drop-zone p { color: #666; margin-bottom: 10px; }\n    .drop-zone small { color: #999; }\n    .file-input { display: none; }\n    .preview {\n      margin-top: 20px;\n      text-align: center;\n    }\n    .preview img {\n      max-width: 100%;\n      max-height: 200px;\n      border-radius: 8px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.15);\n    }\n    .preview .filename {\n      margin-top: 10px;\n      color: #666;\n      font-size: 14px;\n    }\n    .btn {\n      width: 100%;\n      padding: 16px;\n      border: none;\n      border-radius: 8px;\n      font-size: 16px;\n      font-weight: 600;\n      cursor: pointer;\n      margin-top: 20px;\n      transition: all 0.3s ease;\n    }\n    .btn-primary {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n    }\n    .btn-primary:hover:not(:disabled) {\n      transform: translateY(-2px);\n      box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);\n    }\n    .btn:disabled {\n      opacity: 0.5;\n      cursor: not-allowed;\n    }\n    .progress {\n      margin-top: 20px;\n      display: none;\n    }\n    .progress.active { display: block; }\n    .progress-bar {\n      height: 8px;\n      background: #eee;\n      border-radius: 4px;\n      overflow: hidden;\n    }\n    .progress-fill {\n      height: 100%;\n      background: linear-gradient(90deg, #667eea, #764ba2);\n      width: 0%;\n      transition: width 0.5s ease;\n      animation: pulse 1.5s infinite;\n    }\n    @keyframes pulse {\n      0%, 100% { opacity: 1; }\n      50% { opacity: 0.7; }\n    }\n    .progress-text {\n      margin-top: 10px;\n      color: #666;\n      font-size: 14px;\n      text-align: center;\n    }\n    .result {\n      margin-top: 20px;\n      padding: 20px;\n      border-radius: 8px;\n      display: none;\n    }\n    .result.success {\n      display: block;\n      background: #e8f5e9;\n      border: 1px solid #4CAF50;\n    }\n    .result.error {\n      display: block;\n      background: #ffebee;\n      border: 1px solid #f44336;\n    }\n    .result h3 {\n      margin-bottom: 10px;\n      font-size: 16px;\n    }\n    .result.success h3 { color: #2e7d32; }\n    .result.error h3 { color: #c62828; }\n    .result p { font-size: 14px; color: #666; }\n    .result .words {\n      margin-top: 10px;\n      font-size: 13px;\n      color: #888;\n    }\n    .btn-download {\n      background: #4CAF50;\n      color: white;\n      margin-top: 15px;\n    }\n    .btn-download:hover {\n      background: #43a047;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Image to Anki Deck</h1>\n    <p class=\"subtitle\">Upload a vocabulary infographic to generate flashcards</p>\n    \n    <div class=\"drop-zone\" id=\"dropZone\">\n      <svg viewBox=\"0 0 24 24\"><path d=\"M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z\"/></svg>\n      <p>Drop image here or click to upload</p>\n      <small>PNG, JPG, or WEBP</small>\n    </div>\n    <input type=\"file\" id=\"fileInput\" class=\"file-input\" accept=\"image/*\">\n    \n    <div class=\"preview\" id=\"preview\" style=\"display:none\">\n      <img id=\"previewImg\" alt=\"Preview\">\n      <p class=\"filename\" id=\"filename\"></p>\n    </div>\n    \n    <button class=\"btn btn-primary\" id=\"submitBtn\" disabled>Generate Anki Deck</button>\n    \n    <div class=\"progress\" id=\"progress\">\n      <div class=\"progress-bar\"><div class=\"progress-fill\" id=\"progressFill\"></div></div>\n      <p class=\"progress-text\" id=\"progressText\">Extracting vocabulary...</p>\n    </div>\n    \n    <div class=\"result\" id=\"result\"></div>\n  </div>\n  \n  <script>\n    const dropZone = document.getElementById('dropZone');\n    const fileInput = document.getElementById('fileInput');\n    const preview = document.getElementById('preview');\n    const previewImg = document.getElementById('previewImg');\n    const filename = document.getElementById('filename');\n    const submitBtn = document.getElementById('submitBtn');\n    const progress = document.getElementById('progress');\n    const progressFill = document.getElementById('progressFill');\n    const progressText = document.getElementById('progressText');\n    const result = document.getElementById('result');\n    \n    let selectedFile = null;\n    let imageData = null;\n    \n    dropZone.addEventListener('click', () => fileInput.click());\n    \n    dropZone.addEventListener('dragover', (e) => {\n      e.preventDefault();\n      dropZone.classList.add('dragover');\n    });\n    \n    dropZone.addEventListener('dragleave', () => {\n      dropZone.classList.remove('dragover');\n    });\n    \n    dropZone.addEventListener('drop', (e) => {\n      e.preventDefault();\n      dropZone.classList.remove('dragover');\n      const files = e.dataTransfer.files;\n      if (files.length > 0) handleFile(files[0]);\n    });\n    \n    fileInput.addEventListener('change', (e) => {\n      if (e.target.files.length > 0) handleFile(e.target.files[0]);\n    });\n    \n    function handleFile(file) {\n      if (!file.type.startsWith('image/')) {\n        alert('Please select an image file');\n        return;\n      }\n      \n      selectedFile = file;\n      filename.textContent = file.name + ' (' + (file.size / 1024).toFixed(1) + ' KB)';\n      \n      const reader = new FileReader();\n      reader.onload = (e) => {\n        imageData = e.target.result;\n        previewImg.src = imageData;\n        preview.style.display = 'block';\n        dropZone.classList.add('has-file');\n        submitBtn.disabled = false;\n        result.className = 'result';\n        result.style.display = 'none';\n      };\n      reader.readAsDataURL(file);\n    }\n    \n    submitBtn.addEventListener('click', async () => {\n      if (!imageData) return;\n      \n      submitBtn.disabled = true;\n      progress.classList.add('active');\n      result.className = 'result';\n      result.style.display = 'none';\n      \n      const stages = [\n        { pct: 10, text: 'Uploading image...' },\n        { pct: 30, text: 'Extracting vocabulary with AI...' },\n        { pct: 50, text: 'Generating flashcard images...' },\n        { pct: 80, text: 'Building Anki deck...' },\n        { pct: 95, text: 'Finalizing...' }\n      ];\n      \n      let stageIndex = 0;\n      const interval = setInterval(() => {\n        if (stageIndex < stages.length) {\n          progressFill.style.width = stages[stageIndex].pct + '%';\n          progressText.textContent = stages[stageIndex].text;\n          stageIndex++;\n        }\n      }, 3000);\n      \n      try {\n        const response = await fetch('/webhook/image-to-anki', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ imageData })\n        });\n        \n        clearInterval(interval);\n        progressFill.style.width = '100%';\n        progressText.textContent = 'Complete!';\n        \n        const data = await response.json();\n        \n        setTimeout(() => {\n          progress.classList.remove('active');\n          \n          if (data.success && data.downloadUrl) {\n            result.className = 'result success';\n            result.style.display = 'block';\n            result.innerHTML = '<h3>Deck Generated Successfully!</h3>' +\n              '<p>' + data.cardCount + ' flashcards created (' + (data.imageCardCount || 0) + ' image, ' + (data.textCardCount || 0) + ' text)</p>' +\n              '<p class=\"words\">Words: ' + (data.words || []).join(', ') + '</p>' +\n              '<a class=\"btn btn-download\" href=\"' + data.downloadUrl + '\" style=\"display:inline-block;text-decoration:none;text-align:center;\">Download .apkg (' + Math.round(data.apkgSizeBytes/1024) + ' KB)</a>';\n            window.downloadUrl = data.downloadUrl;\n          } else {\n            result.className = 'result error';\n            result.style.display = 'block';\n            result.innerHTML = '<h3>Error</h3><p>' + (data.error || 'Unknown error') + '</p>';\n          }\n        }, 500);\n        \n      } catch (err) {\n        clearInterval(interval);\n        progress.classList.remove('active');\n        result.className = 'result error';\n        result.style.display = 'block';\n        result.innerHTML = '<h3>Error</h3><p>' + err.message + '</p>';\n      }\n      \n      submitBtn.disabled = false;\n    });\n    \n    function downloadApkg() {\n      if (!window.apkgData) return;\n\n      try {\n        // Decode base64 to binary\n        const binaryStr = atob(window.apkgData);\n        const bytes = new Uint8Array(binaryStr.length);\n        for (let i = 0; i < binaryStr.length; i++) {\n          bytes[i] = binaryStr.charCodeAt(i);\n        }\n        \n        // Create blob and download\n        const blob = new Blob([bytes], { type: 'application/octet-stream' });\n        const url = URL.createObjectURL(blob);\n        const a = document.createElement('a');\n        a.href = url;\n        a.download = 'vocabulary-deck.apkg';\n        document.body.appendChild(a);\n        a.click();\n        document.body.removeChild(a);\n        URL.revokeObjectURL(url);\n      } catch (e) {\n        alert('Download failed: ' + e.message);\n      }\n    }\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      }
    }
  ],
  "connections": {
    "UI Webhook": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Serve HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}