n8n-workflows/nixframe-ui.json
{
  "id": "nixframe-ui",
  "name": "NixFrame Upload UI",
  "nodes": [
    {
      "id": "ui-webhook",
      "name": "UI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "nixframe-ui",
      "parameters": {
        "path": "nixframe-ui",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "build-html",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\n\n// Count existing photos\nlet photoCount = 0;\nlet photoCountWarning = '';\ntry {\n  const dir = '/var/lib/nixframe/photos';\n  const files = fs.readdirSync(dir);\n  photoCount = files.filter(f => /\\.(jpg|jpeg|png|webp)$/i.test(f) && !f.startsWith('.')).length;\n} catch (e) {\n  if (e.code !== 'ENOENT') {\n    photoCountWarning = 'Could not read photo directory';\n    console.error('Failed to list photo directory:', e.message);\n  }\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>NixFrame Upload</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n      background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 20px;\n    }\n    .container {\n      background: white;\n      border-radius: 16px;\n      padding: 40px;\n      max-width: 600px;\n      width: 100%;\n      box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n    }\n    h1 { color: #333; margin-bottom: 8px; font-size: 24px; }\n    .subtitle { color: #666; margin-bottom: 24px; font-size: 14px; }\n    .photo-count { color: #888; font-size: 13px; margin-bottom: 20px; }\n    .drop-zone {\n      border: 3px dashed #ccc;\n      border-radius: 12px;\n      padding: 60px 20px;\n      text-align: center;\n      cursor: pointer;\n      transition: all 0.3s ease;\n      background: #fafafa;\n    }\n    .drop-zone:hover, .drop-zone.dragover { border-color: #667eea; background: #f0f0ff; }\n    .drop-zone.has-file { border-color: #4CAF50; background: #f0fff0; padding: 20px; }\n    .drop-zone svg { width: 48px; height: 48px; margin-bottom: 15px; fill: #999; }\n    .drop-zone.has-file svg { fill: #4CAF50; }\n    .drop-zone p { color: #666; margin-bottom: 10px; }\n    .drop-zone small { color: #999; }\n    .file-input { display: none; }\n\n    .previews {\n      display: grid;\n      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));\n      gap: 10px;\n      margin-top: 10px;\n    }\n    .preview-item {\n      position: relative;\n      aspect-ratio: 1;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.15);\n    }\n    .preview-item img {\n      width: 100%;\n      height: 100%;\n      object-fit: cover;\n      display: block;\n    }\n    .preview-item .remove {\n      position: absolute;\n      top: 4px;\n      right: 4px;\n      width: 22px;\n      height: 22px;\n      border-radius: 50%;\n      background: rgba(0,0,0,0.6);\n      color: white;\n      border: none;\n      font-size: 14px;\n      line-height: 22px;\n      text-align: center;\n      cursor: pointer;\n      padding: 0;\n    }\n    .preview-item .remove:hover { background: rgba(200,0,0,0.8); }\n    .preview-item .status-badge {\n      position: absolute;\n      bottom: 0;\n      left: 0;\n      right: 0;\n      text-align: center;\n      font-size: 11px;\n      font-weight: 600;\n      padding: 3px 0;\n      color: white;\n    }\n    .status-badge.uploading { background: rgba(102,126,234,0.85); }\n    .status-badge.done { background: rgba(76,175,80,0.85); }\n    .status-badge.fail { background: rgba(244,67,54,0.85); }\n    .preview-item .file-name {\n      position: absolute;\n      bottom: 0;\n      left: 0;\n      right: 0;\n      background: rgba(0,0,0,0.5);\n      color: white;\n      font-size: 10px;\n      padding: 3px 6px;\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis;\n    }\n\n    .progress-bar {\n      margin-top: 16px;\n      height: 6px;\n      background: #e0e0e0;\n      border-radius: 3px;\n      overflow: hidden;\n      display: none;\n    }\n    .progress-bar .fill {\n      height: 100%;\n      width: 0%;\n      background: linear-gradient(90deg, #667eea, #764ba2);\n      border-radius: 3px;\n      transition: width 0.3s ease;\n    }\n    .progress-text {\n      margin-top: 8px;\n      text-align: center;\n      font-size: 13px;\n      color: #666;\n      display: none;\n    }\n\n    .btn {\n      width: 100%; padding: 16px; border: none; border-radius: 8px;\n      font-size: 16px; font-weight: 600; cursor: pointer; margin-top: 20px; transition: all 0.3s ease;\n    }\n    .btn-primary { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; }\n    .btn-primary:hover:not(:disabled) { transform: translateY(-2px); box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4); }\n    .btn:disabled { opacity: 0.5; cursor: not-allowed; }\n    .result { margin-top: 20px; padding: 20px; border-radius: 8px; display: none; }\n    .result.success { display: block; background: #e8f5e9; border: 1px solid #4CAF50; }\n    .result.error { display: block; background: #ffebee; border: 1px solid #f44336; }\n    .result.partial { display: block; background: #fff8e1; border: 1px solid #ff9800; }\n    .result h3 { margin-bottom: 8px; font-size: 16px; }\n    .result.success h3 { color: #2e7d32; }\n    .result.error h3 { color: #c62828; }\n    .result.partial h3 { color: #e65100; }\n    .result p { font-size: 14px; color: #666; }\n    .result ul { list-style: none; margin-top: 8px; font-size: 13px; color: #666; }\n    .result ul li { padding: 2px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>NixFrame</h1>\n    <p class=\"subtitle\">Upload photos to your digital photo frame</p>\n    <p class=\"photo-count\">${photoCountWarning || (photoCount + ' photo' + (photoCount !== 1 ? 's' : '') + ' on frame')}</p>\n    <div class=\"drop-zone\" id=\"dropZone\">\n      <svg viewBox=\"0 0 24 24\"><path d=\"M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z\"/></svg>\n      <p>Drop photos here or tap to select</p>\n      <small>JPG, PNG, WebP, or HEIC &mdash; up to 20 MB each</small>\n      <div class=\"previews\" id=\"previews\"></div>\n    </div>\n    <input type=\"file\" id=\"fileInput\" class=\"file-input\" accept=\"image/*\" multiple>\n    <div class=\"progress-bar\" id=\"progressBar\"><div class=\"fill\" id=\"progressFill\"></div></div>\n    <div class=\"progress-text\" id=\"progressText\"></div>\n    <button class=\"btn btn-primary\" id=\"submitBtn\" disabled>Upload to Frame</button>\n    <div class=\"result\" id=\"result\"></div>\n  </div>\n  <script>\n    function escapeHtml(s) { return String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&#39;'); }\n    const dropZone = document.getElementById('dropZone');\n    const fileInput = document.getElementById('fileInput');\n    const previewsEl = document.getElementById('previews');\n    const submitBtn = document.getElementById('submitBtn');\n    const progressBar = document.getElementById('progressBar');\n    const progressFill = document.getElementById('progressFill');\n    const progressText = document.getElementById('progressText');\n    const result = document.getElementById('result');\n\n    let pendingFiles = [];\n    let isUploading = false;\n    let readersInProgress = 0;\n\n    dropZone.addEventListener('click', (e) => {\n      if (e.target.closest('.remove')) return;\n      fileInput.click();\n    });\n    dropZone.addEventListener('dragover', (e) => { e.preventDefault(); dropZone.classList.add('dragover'); });\n    dropZone.addEventListener('dragleave', () => dropZone.classList.remove('dragover'));\n    dropZone.addEventListener('drop', (e) => {\n      e.preventDefault();\n      dropZone.classList.remove('dragover');\n      if (e.dataTransfer.files.length > 0) addFiles(e.dataTransfer.files);\n    });\n    fileInput.addEventListener('change', (e) => {\n      if (e.target.files.length > 0) addFiles(e.target.files);\n      fileInput.value = '';\n    });\n\n    function addFiles(fileList) {\n      if (isUploading) return;\n      let skippedCount = 0;\n      for (const file of fileList) {\n        if (!file.type.startsWith('image/')) {\n          skippedCount++;\n          continue;\n        }\n        if (file.size > 20 * 1024 * 1024) {\n          alert(file.name + ' is too large (max 20 MB)');\n          continue;\n        }\n        const entry = { file, dataUrl: null, status: 'pending' };\n        pendingFiles.push(entry);\n        readersInProgress++;\n        const reader = new FileReader();\n        reader.onload = (ev) => {\n          entry.dataUrl = ev.target.result;\n          readersInProgress--;\n          renderPreviews();\n          updateUI();\n        };\n        reader.onerror = () => {\n          readersInProgress--;\n          const errMsg = reader.error ? reader.error.message : 'Unknown error';\n          const idx = pendingFiles.indexOf(entry);\n          if (idx !== -1) pendingFiles.splice(idx, 1);\n          renderPreviews();\n          updateUI();\n          alert(file.name + ' could not be read: ' + errMsg);\n        };\n        try {\n          reader.readAsDataURL(file);\n        } catch (readErr) {\n          readersInProgress--;\n          const idx = pendingFiles.indexOf(entry);\n          if (idx !== -1) pendingFiles.splice(idx, 1);\n          renderPreviews();\n          updateUI();\n          alert(file.name + ' could not be read: ' + readErr.message);\n        }\n      }\n      if (skippedCount > 0) {\n        alert(skippedCount + ' non-image file' + (skippedCount !== 1 ? 's were' : ' was') + ' skipped.');\n      }\n      updateUI();\n    }\n\n    function removeFile(index) {\n      if (isUploading) return;\n      pendingFiles.splice(index, 1);\n      renderPreviews();\n      updateUI();\n    }\n\n    function renderPreviews() {\n      previewsEl.innerHTML = '';\n      pendingFiles.forEach((entry, i) => {\n        const div = document.createElement('div');\n        div.className = 'preview-item';\n        if (entry.dataUrl) {\n          const img = document.createElement('img');\n          img.src = entry.dataUrl;\n          img.alt = entry.file.name;\n          div.appendChild(img);\n        }\n        if (!isUploading && entry.status === 'pending') {\n          const btn = document.createElement('button');\n          btn.className = 'remove';\n          btn.textContent = '\\u00d7';\n          btn.onclick = (e) => { e.stopPropagation(); removeFile(i); };\n          div.appendChild(btn);\n        }\n        if (entry.status !== 'pending') {\n          const badge = document.createElement('div');\n          badge.className = 'status-badge ' + entry.status;\n          badge.textContent = entry.status === 'uploading' ? 'Uploading...' : entry.status === 'done' ? 'OK' : 'Failed';\n          div.appendChild(badge);\n        } else {\n          const nameEl = document.createElement('div');\n          nameEl.className = 'file-name';\n          nameEl.textContent = entry.file.name;\n          div.appendChild(nameEl);\n        }\n        previewsEl.appendChild(div);\n      });\n    }\n\n    function updateUI() {\n      if (isUploading || readersInProgress > 0) {\n        submitBtn.disabled = true;\n      } else {\n        submitBtn.disabled = pendingFiles.length === 0;\n      }\n      const n = pendingFiles.length;\n      if (n > 0) {\n        dropZone.classList.add('has-file');\n        submitBtn.textContent = readersInProgress > 0\n          ? 'Reading files...'\n          : 'Upload ' + n + ' photo' + (n !== 1 ? 's' : '');\n      } else {\n        dropZone.classList.remove('has-file');\n        submitBtn.textContent = 'Upload to Frame';\n      }\n    }\n\n    submitBtn.addEventListener('click', async () => {\n      if (pendingFiles.length === 0 || isUploading) return;\n      isUploading = true;\n      result.className = 'result';\n      result.style.display = 'none';\n      progressBar.style.display = 'block';\n      progressText.style.display = 'block';\n      updateUI();\n\n      const total = pendingFiles.length;\n      let doneCount = 0;\n      let failCount = 0;\n      const uploadResults = [];\n\n      try {\n        for (let i = 0; i < total; i++) {\n          const entry = pendingFiles[i];\n\n          if (!entry.dataUrl) {\n            entry.status = 'fail';\n            failCount++;\n            uploadResults.push({ name: entry.file.name, ok: false, error: 'File could not be read' });\n            renderPreviews();\n            progressFill.style.width = (((i + 1) / total) * 100) + '%';\n            continue;\n          }\n\n          entry.status = 'uploading';\n          renderPreviews();\n          progressText.textContent = 'Uploading ' + (i + 1) + ' of ' + total + '...';\n          progressFill.style.width = ((i / total) * 100) + '%';\n\n          try {\n            const response = await fetch('/webhook/nixframe-upload', {\n              method: 'POST',\n              headers: { 'Content-Type': 'application/json' },\n              body: JSON.stringify({ imageData: entry.dataUrl })\n            });\n\n            if (!response.ok) {\n              entry.status = 'fail';\n              failCount++;\n              uploadResults.push({ name: entry.file.name, ok: false, error: 'Server error (HTTP ' + response.status + ')' });\n              renderPreviews();\n              progressFill.style.width = (((i + 1) / total) * 100) + '%';\n              continue;\n            }\n\n            let data;\n            try {\n              data = await response.json();\n            } catch (parseErr) {\n              entry.status = 'fail';\n              failCount++;\n              uploadResults.push({ name: entry.file.name, ok: false, error: 'Invalid response from server' });\n              renderPreviews();\n              progressFill.style.width = (((i + 1) / total) * 100) + '%';\n              continue;\n            }\n\n            if (data.success) {\n              entry.status = 'done';\n              doneCount++;\n              uploadResults.push({ name: entry.file.name, ok: true });\n            } else {\n              entry.status = 'fail';\n              failCount++;\n              uploadResults.push({ name: entry.file.name, ok: false, error: data.error || 'Unknown error' });\n            }\n          } catch (err) {\n            entry.status = 'fail';\n            failCount++;\n            uploadResults.push({ name: entry.file.name, ok: false, error: err.message });\n          }\n          renderPreviews();\n          progressFill.style.width = (((i + 1) / total) * 100) + '%';\n        }\n      } finally {\n        isUploading = false;\n        progressText.textContent = '';\n        progressText.style.display = 'none';\n      }\n\n      result.style.display = '';\n\n      if (doneCount > 0) {\n        const countEl = document.querySelector('.photo-count');\n        const cm = countEl.textContent.match(/(\\\\d+)/);\n        if (cm) {\n          const newCount = parseInt(cm[1]) + doneCount;\n          countEl.textContent = newCount + ' photo' + (newCount !== 1 ? 's' : '') + ' on frame';\n        }\n      }\n\n      if (failCount === 0) {\n        result.className = 'result success';\n        result.innerHTML = '<h3>All ' + total + ' Photo' + (total !== 1 ? 's' : '') + ' Uploaded</h3>'\n          + '<p>Added to frame successfully.</p>';\n        const snapshot = pendingFiles.length;\n        setTimeout(() => {\n          if (pendingFiles.length === snapshot) {\n            pendingFiles = [];\n            renderPreviews();\n            updateUI();\n          }\n          progressBar.style.display = 'none';\n          progressFill.style.width = '0%';\n        }, 3000);\n      } else if (doneCount === 0) {\n        result.className = 'result error';\n        result.innerHTML = '<h3>Upload Failed</h3>'\n          + '<p>All ' + total + ' file' + (total !== 1 ? 's' : '') + ' failed to upload.</p>'\n          + '<ul>' + uploadResults.map(r => '<li>' + escapeHtml(r.name) + ': ' + escapeHtml(r.error) + '</li>').join('') + '</ul>';\n        progressBar.style.display = 'none';\n        progressFill.style.width = '0%';\n        updateUI();\n      } else {\n        result.className = 'result partial';\n        result.innerHTML = '<h3>' + doneCount + ' of ' + total + ' Uploaded</h3>'\n          + '<p>' + failCount + ' file' + (failCount !== 1 ? 's' : '') + ' failed:</p>'\n          + '<ul>' + uploadResults.filter(r => !r.ok).map(r => '<li>' + escapeHtml(r.name) + ': ' + escapeHtml(r.error) + '</li>').join('') + '</ul>';\n        progressBar.style.display = 'none';\n        progressFill.style.width = '0%';\n        updateUI();\n      }\n    });\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      }
    },
    {
      "id": "serve-html",
      "name": "Serve HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "UI Webhook": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Serve HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
