n8n-workflows/nixframe-ui.json
{
  "id": "nixframe-ui",
  "name": "NixFrame Upload UI",
  "nodes": [
    {
      "id": "ui-webhook",
      "name": "UI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "nixframe-ui",
      "parameters": {
        "path": "nixframe-ui",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "build-html",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\n// Count existing photos\nlet photoCount = 0;\ntry {\n  const dir = '/var/lib/nixframe/photos';\n  const files = fs.readdirSync(dir);\n  photoCount = files.filter(f => /\\.(jpg|jpeg|png|webp)$/i.test(f) && !f.startsWith('.')).length;\n} catch (e) { /* dir may not exist yet */ }\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>NixFrame Upload</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n      background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 20px;\n    }\n    .container {\n      background: white;\n      border-radius: 16px;\n      padding: 40px;\n      max-width: 500px;\n      width: 100%;\n      box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n    }\n    h1 { color: #333; margin-bottom: 8px; font-size: 24px; }\n    .subtitle { color: #666; margin-bottom: 24px; font-size: 14px; }\n    .photo-count { color: #888; font-size: 13px; margin-bottom: 20px; }\n    .drop-zone {\n      border: 3px dashed #ccc;\n      border-radius: 12px;\n      padding: 60px 20px;\n      text-align: center;\n      cursor: pointer;\n      transition: all 0.3s ease;\n      background: #fafafa;\n    }\n    .drop-zone:hover, .drop-zone.dragover { border-color: #667eea; background: #f0f0ff; }\n    .drop-zone.has-file { border-color: #4CAF50; background: #f0fff0; }\n    .drop-zone svg { width: 48px; height: 48px; margin-bottom: 15px; fill: #999; }\n    .drop-zone.has-file svg { fill: #4CAF50; }\n    .drop-zone p { color: #666; margin-bottom: 10px; }\n    .drop-zone small { color: #999; }\n    .file-input { display: none; }\n    .preview { margin-top: 20px; text-align: center; }\n    .preview img { max-width: 100%; max-height: 200px; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); }\n    .preview .filename { margin-top: 10px; color: #666; font-size: 14px; }\n    .btn {\n      width: 100%; padding: 16px; border: none; border-radius: 8px;\n      font-size: 16px; font-weight: 600; cursor: pointer; margin-top: 20px; transition: all 0.3s ease;\n    }\n    .btn-primary { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; }\n    .btn-primary:hover:not(:disabled) { transform: translateY(-2px); box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4); }\n    .btn:disabled { opacity: 0.5; cursor: not-allowed; }\n    .result { margin-top: 20px; padding: 20px; border-radius: 8px; display: none; }\n    .result.success { display: block; background: #e8f5e9; border: 1px solid #4CAF50; }\n    .result.error { display: block; background: #ffebee; border: 1px solid #f44336; }\n    .result h3 { margin-bottom: 8px; font-size: 16px; }\n    .result.success h3 { color: #2e7d32; }\n    .result.error h3 { color: #c62828; }\n    .result p { font-size: 14px; color: #666; }\n    .uploading { display: none; margin-top: 20px; text-align: center; color: #666; }\n    .uploading.active { display: block; }\n    .spinner { display: inline-block; width: 20px; height: 20px; border: 3px solid #ccc; border-top-color: #667eea; border-radius: 50%; animation: spin 0.8s linear infinite; margin-right: 10px; vertical-align: middle; }\n    @keyframes spin { to { transform: rotate(360deg); } }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>NixFrame</h1>\n    <p class=\"subtitle\">Upload photos to your digital photo frame</p>\n    <p class=\"photo-count\">${photoCount} photo${photoCount !== 1 ? 's' : ''} on frame</p>\n    <div class=\"drop-zone\" id=\"dropZone\">\n      <svg viewBox=\"0 0 24 24\"><path d=\"M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z\"/></svg>\n      <p>Drop photo here or tap to upload</p>\n      <small>JPG, PNG, WebP, or HEIC</small>\n    </div>\n    <input type=\"file\" id=\"fileInput\" class=\"file-input\" accept=\"image/*\">\n    <div class=\"preview\" id=\"preview\" style=\"display:none\">\n      <img id=\"previewImg\" alt=\"Preview\">\n      <p class=\"filename\" id=\"filename\"></p>\n    </div>\n    <button class=\"btn btn-primary\" id=\"submitBtn\" disabled>Upload to Frame</button>\n    <div class=\"uploading\" id=\"uploading\"><span class=\"spinner\"></span>Uploading...</div>\n    <div class=\"result\" id=\"result\"></div>\n  </div>\n  <script>\n    function escapeHtml(s) { return String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n    const dropZone = document.getElementById('dropZone');\n    const fileInput = document.getElementById('fileInput');\n    const preview = document.getElementById('preview');\n    const previewImg = document.getElementById('previewImg');\n    const filename = document.getElementById('filename');\n    const submitBtn = document.getElementById('submitBtn');\n    const uploading = document.getElementById('uploading');\n    const result = document.getElementById('result');\n    let imageData = null;\n\n    dropZone.addEventListener('click', () => fileInput.click());\n    dropZone.addEventListener('dragover', (e) => { e.preventDefault(); dropZone.classList.add('dragover'); });\n    dropZone.addEventListener('dragleave', () => dropZone.classList.remove('dragover'));\n    dropZone.addEventListener('drop', (e) => {\n      e.preventDefault();\n      dropZone.classList.remove('dragover');\n      if (e.dataTransfer.files.length > 0) handleFile(e.dataTransfer.files[0]);\n    });\n    fileInput.addEventListener('change', (e) => {\n      if (e.target.files.length > 0) handleFile(e.target.files[0]);\n    });\n\n    function handleFile(file) {\n      if (!file.type.startsWith('image/')) { alert('Please select an image file'); return; }\n      if (file.size > 20 * 1024 * 1024) { alert('File too large (max 20MB)'); return; }\n      filename.textContent = file.name + ' (' + (file.size / 1024).toFixed(1) + ' KB)';\n      const reader = new FileReader();\n      reader.onload = (e) => {\n        imageData = e.target.result;\n        previewImg.src = imageData;\n        preview.style.display = 'block';\n        dropZone.classList.add('has-file');\n        submitBtn.disabled = false;\n        result.className = 'result';\n        result.style.display = 'none';\n      };\n      reader.readAsDataURL(file);\n    }\n\n    submitBtn.addEventListener('click', async () => {\n      if (!imageData) return;\n      submitBtn.disabled = true;\n      uploading.classList.add('active');\n      result.className = 'result';\n      result.style.display = 'none';\n\n      try {\n        const response = await fetch('/webhook/nixframe-upload', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ imageData })\n        });\n        const data = await response.json();\n        uploading.classList.remove('active');\n\n        if (data.success) {\n          result.className = 'result success';\n          result.style.display = 'block';\n          result.innerHTML = '<h3>Photo Uploaded</h3><p>' + escapeHtml(data.filename) + ' added to frame (' + data.photoCount + ' total)</p>';\n          // Reset for next upload\n          imageData = null;\n          preview.style.display = 'none';\n          dropZone.classList.remove('has-file');\n        } else {\n          result.className = 'result error';\n          result.style.display = 'block';\n          result.innerHTML = '<h3>Upload Failed</h3><p>' + escapeHtml(data.error || 'Unknown error') + '</p>';\n          submitBtn.disabled = false;\n        }\n      } catch (err) {\n        uploading.classList.remove('active');\n        result.className = 'result error';\n        result.style.display = 'block';\n        result.innerHTML = '<h3>Error</h3><p>' + escapeHtml(err.message) + '</p>';\n        submitBtn.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      }
    },
    {
      "id": "serve-html",
      "name": "Serve HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "UI Webhook": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Serve HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
