n8n-workflows/rpi5-system-health-check.json
{
  "id": "rpi5-system-health-check",
  "name": "RPi5 System Health Check",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 500],
      "parameters": {}
    },
    {
      "id": "check-open-webui",
      "name": "Check Open-WebUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [350, 300],
      "parameters": {
        "url": "http://127.0.0.1:8080/health",
        "method": "GET",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "continueOnFail": true
    },
    {
      "id": "check-gatus",
      "name": "Check Gatus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [350, 500],
      "parameters": {
        "url": "http://127.0.0.1:3001/",
        "method": "GET",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 400],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "build-report",
      "name": "Build Health Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "parameters": {
        "jsCode": "const results = $input.all();\nconst timestamp = new Date().toISOString();\n\n// After merge (append mode), we get TWO separate items:\n// - Item 0: Open-WebUI response {status: true}\n// - Item 1: Gatus response {data: 'HTML...'}\n\n// Find Open-WebUI response (has status field)\nconst openWebUIResult = results.find(r => r.json.status !== undefined);\nconst openWebUIHealthy = openWebUIResult?.json?.status === true;\n\n// Find Gatus response (has data field with HTML)\nconst gatusResult = results.find(r => {\n  const data = r.json.data;\n  return typeof data === 'string' && data.includes('Gatus');\n});\nconst gatusHealthy = gatusResult !== undefined;\n\nconst report = {\n  timestamp,\n  hostname: 'rpi5',\n  services: {\n    'open-webui': {\n      status: openWebUIHealthy ? 'healthy' : 'unhealthy',\n      response: openWebUIResult?.json || 'no response'\n    },\n    'gatus': {\n      status: gatusHealthy ? 'healthy' : 'unhealthy',\n      response: gatusHealthy ? 'HTML page loaded' : 'no response'\n    }\n  },\n  allHealthy: openWebUIHealthy && gatusHealthy\n};\n\nreturn [{ json: report }];"
      }
    },
    {
      "id": "log-result",
      "name": "Log Health Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400],
      "parameters": {
        "jsCode": "const report = $input.first().json;\n\nconsole.log('=== RPi5 Health Check ===' );\nconsole.log('Timestamp:', report.timestamp);\nconsole.log('Open-WebUI:', report.services['open-webui'].status);\nconsole.log('Gatus:', report.services['gatus'].status);\nconsole.log('All Healthy:', report.allHealthy);\n\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          { "node": "Check Open-WebUI", "type": "main", "index": 0 },
          { "node": "Check Gatus", "type": "main", "index": 0 }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          { "node": "Check Open-WebUI", "type": "main", "index": 0 },
          { "node": "Check Gatus", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Open-WebUI": {
      "main": [
        [{ "node": "Merge Results", "type": "main", "index": 0 }]
      ]
    },
    "Check Gatus": {
      "main": [
        [{ "node": "Merge Results", "type": "main", "index": 1 }]
      ]
    },
    "Merge Results": {
      "main": [
        [{ "node": "Build Health Report", "type": "main", "index": 0 }]
      ]
    },
    "Build Health Report": {
      "main": [
        [{ "node": "Log Health Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0af4b9ac-0554-4f59-a189-c9deb91b01e6"
}
